/udf/target
/udaf/target
/mr-gimv-cc/target
/hbase/target
nohup.out
datasets/visualiq
datasets/workshop
*.log
metastore_db/
/tez_binary_files
/tez-sample/target
/zk_sample/target
/qcf/target
/spark/target