/udf/target
/udaf/target
/mr-gimv-cc/target
/tez-sample/target
/zk_sample/target
/qcf/target
/spark/target
/hbase/target
/kafka/target
nohup.out
datasets/workshop
*.log
metastore_db/
/tez_binary_files
/hbase/src/test/java/wip/
/spark/src/main/java/wip/